body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav {
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
}

nav > a {
  background-color: #D7DBDD;
}

figcaption {
  text-align: center;
  font-size: 14px;
}

#featured-property p {
  width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


details, div {
  display: block;
  float: left;
}

div {
  background-color: rgb(255, 0, 242);
  text-align: center;
  width: 25%;
}